::ng-deep .container {
    height: 100%;

    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        height: 100%;
        flex-direction: row;
        align-content: space-between;
        height: 100%;

        .m-auto {
            height: 100%;

            .carousel {
                height: 100%;
            }
        }
    }



}